#body{
    margin:0;
}
.error-pointer{
    position: relative;
    display: none;
}
.error-pointer__arrow{
    position: absolute;
    background: #d50000;
    border-radius: 3px;
    padding: 2px;
    top: 3px;
}
.error-pointer__arrow:before{
    content: '*';
    color: #ffffff;
    display: inline-block;
}
.error-pointer__arrow:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(213, 0, 0, 0);
    border-bottom-color: #d50000;
    border-width: 10px;
    margin-left: -10px;
}
.contactme-card{
    background: #424242;
    font-family: Arial;
    color: #cbcbcb;
    padding: 20px;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.contactme-card span{
    color: #FF0000;
}
.contactme-header{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.contactme-header__main{
    padding: 2px 10px;
    font-size: 20px;
}
.contactme-header__additional{
    padding: 2px 10px;
    font-size: 16px;
}
.contactme-fields{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.user-info{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-grow: 1;
}
.form-input-string{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
}
.form-input-string_nowrap{
    flex-wrap: nowrap;
}
.form-input{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.form-input__description{
    white-space: nowrap;
}
.form-input__text{
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fffde8;
}
.form-input__text_size_basic{
    height: 30px;
}
.form-input__form_input_double{
    flex-grow: 2;
}
.form-input__text_size_small{
    width: 50%;
    height: 30px;
    flex-shrink: 1;
}
.form-input__text_size_medium{
    height: 60px;
}
.form-input__text_size_large{
    flex-grow: 2;
    height: 120px;
}
.form-input__text_border_red{
    border-color: #FF0000;
}
.form-input-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}
.form-input-button__button{
    height: 50px;
    width: 170px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.form-input-button__button_color_795547{
    background-color: #795547;
    border: 2px solid #51332b;
}
.form-input-button__button_color_795547:active{
    background-color: #51332b;
}
.form-input-button__button_color_673bb7{
    background-color: #673bb7;
    border: 2px solid #47249a;
}
.form-input-button__button_color_673bb7:active{
    background-color: #47249a;
}