.contactme-card{
    background: #424242;
    font-family: Arial;
    color: #cbcbcb;
    display: flex;
    flex-wrap: wrap;
}
.user-info{
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.form-input-string{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-contend: flex-end;
}
.form-input{
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.form-input__text{
    width: 90%;
    height: 33px;
    border-radius: 5px;
}